.intro {
    color: #FFF;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    padding-top: 92px;
    padding-right: 148px;
    padding-bottom: 92px;
    padding-left:  148px;
    max-width: 1184px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .intro {
        padding-right: 48px;
        padding-left:  48px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro {
        padding: 88px 24px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .intro {
        padding: 64px 16px;
    }
}