.cover {
    background-image: url('../../images/cover-trains.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    
    color: #FFF;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover__title {
    margin: 0 auto;
    max-width: 560px;
    font-size: 72px;
    font-weight: 900;
    line-height: 1.1;
    text-align: center;
}

.cover__subtitle {
    max-width: 360px;
    margin: 0 auto;
    padding-top: 32px;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
}