.place {
    color: #FFF;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
}

.place__title {
    margin: 0;
    font-size: 72px;
    font-weight: 900;
    line-height: 1.1;
}

.place__image {
    width: 460px;
    height: 460px;
}

.website {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.website__url-heading {
    margin: 0;
    padding-bottom: 12px;
    color: #AAA;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 2px;
}

.website__link {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}

.place__paragraphs {}

.place__paragraph {
    max-width: 484px;
    margin: 0;
    padding-bottom: 26px;
    font-size: 18px;
    font-weight: 400;
    line-height: 163%;
}

.place__paragraph:last-child {
    padding-bottom: 0;
}