.place {
    color: #FFF;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
}

.place:last-child {
    padding-bottom: 0;
}